.container {
background-color: #3AA6D0; 
color: white; 
text-align: center; 
font-size: 15px; 
padding: 10px; 
height: 200px; 
width: calc(33% - 60px); 
margin: 20px; 
float: left;
}
.service-header{
font-size: 30px; 
font-family: Calibri; 
margin-block-start: 0px; 
border-bottom-style: dotted; 
border-bottom-color: #FFFFFF
}
button{
background-color: #0776A0; 
color: #FFFFFF;
}