h3{
color: black; 
font-family: Arial; 
font-weight: normal; 
font-size: 30px;
}
.project-description{
border-bottom-style: dotted; 
border-top-style: dotted; 
border-bottom-color: #C0C0C0; 
border-top-color: #C0C0C0;
}