.site-header{
background-color: #000000; 
height: 80px;
}
.site-name{
font-size: 30px; 
font-family: Arial; 
color: white; margin: 20px; 
float: left;
}
.nav li{
display: inline; 
color: #FFFFFF; 
font-size:15px; 
font-family: Arial; 
margin: 10px;
}
.nav{
float: right;
}
.bar-navigation{
padding: 20px 20px 35px 0px;
}