.first{background-color:red; color: white; float: left; height:50px; width:50px}
.second{background-color:black; color: white; float: left; height:50px; width:50px}
.third{background-color:red; color: white; float: left; clear: left; height:100px; width:100px}